@page
@model Agenda.Pages.Categories.IndexModel
@{

    ViewData["Title"] = "Categories";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Categories</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secondary" asp-page="/Categories/Create">Create new category</a>
        </div>
    </div>
</div>